#titleC {
    font-size: 60px;
}

#courses img {
  background-color: #FCE181;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
}

.list-group {
  text-align: center;
  width: 100%;
  height: fit-content;
}
.list-group-item {
  max-width: 255px;
  color: #9FEDD7;
  background-color: #026670;
  border-color: #026670;
  font-weight: 600;
  border-width: 4px;
}

.list-group-item.active {
  background-color: #9FEDD7;
  border-width: 4px;
  border-color: #9FEDD7;
  color: #026670;
  font-weight: 600;
}

.list-group-item:hover {
  background-color: #edece5;
  border-color: #ffe600;
  border-width: 4px;
  color: #026670;
  cursor: pointer;
}

h4 {
  text-align: center;
  padding-bottom: 10px;
}

#courseT h1,
#picUO {
  text-align: center;
}