#headBox {
    text-align: center;
}
#name {
    font-size: 100px;
}
.feature {
    text-align: center;
}

#homeIcon {
    border: 5px solid black;
    padding: 0px;
}
#iconrow {
    padding: 10px;
    margin-bottom: 20px;
}