#titleP {
  font-size: 60px;
}

#projectPic img {
  max-width: 350px;
  max-height: 350px;
  padding: 10px;
}

#location {
  width: 225px;
}

#projectPic {
  text-align: center;
}

#projectDesc h3, #projectDesc h6 {
  text-align: center;
}

#projectT {
  text-align: center;
}

#projectButton {
  text-align: center;
}

#projectDesc a {
  color: black;
}

#projectDesc button {
  background-color: white;
  border: #FCE181 1px solid;
  color: black;
  padding: 0px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.4s;
  left: 50%;
}

#projectDesc button:hover {
  background-color: #FCE181;
  color: black;
}