@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}

@layer utilities {
  .outline-circle {
    @apply stroke-current fill-none;
    svg circle {
      stroke-dasharray: 180;
      stroke-dashoffset: 180;
      transform-origin: center;
      transform: rotate(-90deg);
    }
  }

  .outline-circle:hover {
    @apply stroke-current fill-none;
    svg circle {
      stroke-dasharray: 180;
      transform-origin: center;
      animation: stroke 1.5s ease forwards;
    }
  }

  svg circle.base-outline-circle {
    @apply fill-none !important;
    stroke-dashoffset: 0px !important;
    stroke-dasharray: 180 !important;
  }

  .react-icons {
    @apply stroke-black dark:stroke-white justify-center h-6 w-6;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
}

:root {
  --primary: #769987;
  --secondary: #C3D8CB;
  --tertiary: #E1C8A3;
  --bonus: #BFD7EA;
  --bg-primary: #F7F8F2;
  --bg-opposite: #2B2C28;
  --text-primary: black;
  --text-opposite: white;
  --depth: #5A5F58;
  --logo-path-I: #769987;
  --logo-path-F: #E1C8A3;
  color-scheme: light;
}

.dark {
  --bg-primary: #2B2C28;
  --bg-opposite: #F7F8F2;
  --primary: #3E503D;
  --secondary: #A0B29F;
  --text-primary: white;
  --text-opposite: black;
  --depth: #5A5F58;
  --logo-path-I: #A0B29F;
  color-scheme: dark;
}

.svg-primary {
  @apply stroke-black dark:stroke-white;
}

.svg-active {
  @apply stroke-primary dark:stroke-secondary fill-primary dark:fill-secondary;
}

.menu-hamburger {
  @apply stroke-black dark:stroke-white fill-black dark:fill-white;
}

.pathI {
  transition: transform ease-in-out 0.3s;
}

.pathF {
transition: transform ease-in-out 0.3s;
}

.icon-stacked {
  .pathF {
    transform: translateX(0px);
  }
  .pathI {
    transform: translateX(0px);
  }
}

.icon-shift {
  .pathF {
    transform: translateX(30px);
  }
  .pathI {
    transform: translateX(-30px);
  }
}

.depth {
  @apply shadow-sm;
}

.rounded-inherit {
  border-radius: inherit;
}

.tab-button {
  background-color: black;
}

.tab-button-active {
  background-color: var(--bg-primary);
}

.tab-button-active:before {
  z-index: 1;
  content: "";
  display: block;
  position: absolute;
  width: .5rem;
  height: 100%;
  right: -.5rem;
  top: 0px;
  transition: none;
  background-size: var(--tab-radius, .5rem);
  background-color: var(--bg-primary);
  background-position: top left, top right;
  background-repeat: no-repeat;
}

.page {
  z-index: 1;
}

.section-primary {
  @apply bg-primary text-basic;
}
.section-secondary {
  @apply bg-secondary text-basic;
}
.section-basic {
  @apply bg-white text-black;
}
.section-tertiary {
  @apply bg-tertiary text-basic;
}
.section-bonus {
  @apply bg-bonus text-basic;
}