.layout-container .Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  max-width: none;
}

.layout {
  margin-top: 150px;
  margin-bottom: 0px;
}

#projects {
  margin-top: -65px;
  padding-top: 65px;
}

#courses {
  margin-top: -60px;
  padding-top: 60px;
  margin-bottom: 60px;
}

#home, #about {
  padding-top: 70px;
}

#about {
  margin-top: -65px;
  padding-top: 65px;
}