.layout-container .Footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: none;
  }

.layout {
  margin-top: 100px;
  margin-bottom: 100px;
}

#projects {
  margin-top: -65px;
  padding-top: 65px;
}

#courses {
  margin-top: -65px;
  padding-top: 65px;
}

#home {
  margin-top: -65px;
  padding-top: 65px;
}

#about {
  margin-top: -65px;
  padding-top: 65px;
}