.layout-container .Footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: none;
  }

.layout {
  margin-top: 100px;
  margin-bottom: 100px;
}

#projectAnchor {
  margin-top: -65px;
  padding-top: 65px;
}

#courseAnchor {
  margin-top: -65px;
  padding-top: 65px;
}

#homeAnchor {
  margin-top: -65px;
  padding-top: 65px;
}

#aboutAnchor {
  margin-top: -65px;
  padding-top: 65px;
}